body {
    background-color: #dddddd;
    margin-bottom: 10%;
}
.white {
    background-color: white;
    /* padding-right: 17.1%; */
}
header {
    font-family: Georgia, Times, 'Times New Roman', serif;
    background-color: #ffffff;
    border: #cccccc;
    width: 102%;
}
.hitems {

    padding: 1.5%;
    margin-bottom: 0rem;
}
.nexpg {
    display: none;
    background-color: teal;
    max-width: 100%;
    padding: -5%;
}
.name {
    background-color: #4aaaa5;
    color: white;
    text-align: center;
}
a {
    color: gray;
}
.contenthead {
    color: teal;
}
.imp {
    padding: 0 10px 10px 10px;
}
.content {
    background-color: white;
    /* width: 960px; */
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    margin-top: 15px;
}
h3 {
    background-color: teal;
    padding: 5px;
    position: relative;
    top: 75%;
    font-size: 1rem;
  }
.portpic {
    width: 250px;
    height: 175px;
    margin: 50px 10px 10px 28px;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    transition: all 1s;
  }
.portpic1 {
    background-image: url(../images/pass.png);
  }
.portpic2 {
    background-image: url(../images/codequiz.png);
  }
.portpic3 {
    background-image: url(../images/dayplan.png);
  }
.portpic4 {
    background-image: url(../images/weather.png);
  }
.portpic5 {
    background-image: url(../images/Bored_LandingScreenshot.JPG);
  }
.portpic6 {
    background-image: url(../images/action.gif);
    background-position: left;
}
.portpic7 {
    background-image: url(../images/note.png);
    }
.portpic8 {
    background-image: url(../images/tracker.gif);
    }
.portpic9 {
    background-image: url(../images/colortheme.png);
    }
.portpic10 {
    background-image: url(../images/hamburger.jpg);
    }
.portpic11 {
    background-image: url(../images/fit.gif);
    }
.portpic12 {
    background-image: url(../images/budget.png);
    background-size: contain;
}
.portpic13 {
    background-image: url(../images/direct.gif);
    }
p {
    color: #777777;
}
.mypic {
    height: 190px;
    width: 200px;
    padding: 0%;
    margin: 2%;
    margin-bottom: 0%;
    float: left;
}
.input-space {
    margin-top: 5px;
    width: 100%;
  }
  .message {
    height: 180px;
  }
.submithere {
    padding: 25px;
  }
.button {
    margin: 25px;
    padding: 10px 30px;
    color: white;
    background-color: #4aaaa5;
}
footer {
    font-size: 12px;
    position: fixed;
    width: 100%;
    bottom: 1px;
    left: 1px;
    border-top: 8px solid #4aaaa5;
    background-color: #666666;
    color: white;
    margin-top: 5%;
    margin-bottom: -1%;
}
#copy {
    margin-bottom: 0.5%;
    padding-top: 1%;

}

@media only screen and  (max-width: 1510px) {
    .name {
        font-size: 2rem;
    }
}
@media only screen and  (max-width: 1205px) {
    .navi {
        display: none;
    }
    .nexpg {
        display: inline-block;
    }
    .name {
        font-size: 1.5rem;
    }
}
@media only screen and  (max-width: 905px) {
    .name {
        font-size: 1rem;
    }

}
@media only screen and  (max-width: 595px) {
    .mypic {
        width: 100%;
        height: 18rem;
    }
    .name {
        font-size: 0.8rem;
    }

}